.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  /* To stop shaking */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: $font-weight-small;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;

    /* animation-delay: 3s; */
    /* animation-iteration-count: 3; */


  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /* animation-name: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-out; */

    /* shorthand */
    animation: moveInRight 5s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
}

.margin-bottom-big {
  margin-bottom: 10rem;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}

.paragraph {
  font-family: $secondary-font;
  font-size: $font-size-middle;

  &-small {
    font-family: $secondary-font;
    font-size: $default-font-size;
    font-size: $font-size-middle;
    color: pink;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.project-title {
  font-family: $primary-font, sans-serif;
}

.list {
  font-family: $secondary-font, sans-serif;;
  font-size: $font-size-middle;
}

.placeholder {
  font-size: 2rem;
  font-family: $secondary-font, sans-serif;;
  font-weight: $font-weight-medium;
}

.label {
  font-size: 2rem;
  font-family: $secondary-font, sans-serif;;
  font-weight: $font-weight-medium;
}

.button {
  font-size: 2rem;
  font-family: $secondary-font, sans-serif;;
  font-weight: $font-weight-medium;
}

@media screen and (max-width: 500px) {
  .placeholder {
    font-size: 1.5rem;
    font-weight: $font-weight-small;
  }
  
  .label {
    font-size: 1.5rem;
    font-weight: $font-weight-small;
  }
  
  .button {
    font-size: 1.5rem;
    font-weight: $font-weight-big;
  }
}