.section-about {
  position: relative;
  height: 100vh;
  // background-image: linear-gradient(to bottom, $color-primary , $color-grey-light-2);
  background: $color-primary;
}

.section-skills {
  position: relative;
  background: $color-primary;
  margin: 0 auto;
}


.section-projects {
  position: relative;
  background: $color-primary;
  margin: 0 auto;
  padding: 0 0 10rem 0;
  height: 170rem;
}

.section-contact {
  position: relative;
  min-height: 100vh;
  background: $color-primary;
  padding-bottom: 10rem;

}

