.section-about {
  position: relative;
  height: 100vh;
  // background-image: linear-gradient(to bottom, $color-primary , $color-grey-light-2);
  background: $color-primary;
}

.section-skills {
  position: relative;
  background: $color-primary;
  margin: 0 auto;
}


.section-projects {
  position: relative;
  background: $color-primary;
  margin: 0 auto;
}

.section-contact {
  position: relative;
  background: $color-primary;
  margin-bottom: 15rem;

}

@media screen and (max-width: 800px) {
  .section-contact  {
    margin-bottom: 5rem;
  }
}