$profile-image-width: 16rem;


//COLOURS

// $color-primary: #6689A1;
$color-primary: #A0C1D1;
$color-primary-light: #EAF27C;
$color-primary-dark: #2E2E3A;

$color-secondary-light: #FAAA8D;
$color-secondary-dark: #B0413E;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT SIZE
$default-font-size: 1.6rem;
$font-size-small: 1.3rem;
$font-size-medium: 2rem;
$font-size-big: 2.5rem;
$font-size-huge: 4rem;

//FONT FAMILY
$primary-font: Lato;
$secondary-font: Merriweather;

//FONT WEIGHT
$font-weight-big: 900;
$font-weight-medium: 700;
$font-weight-small: 400;