.about {

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
  }

  &__image {
    display: flex;
    flex-direction: column;
    
    &--photo {
      border-radius: 5rem;
      box-shadow: 0 0 3rem rgba(0, 0, 0, 0.35);
      width: $profile-image-width;
      margin: auto;
    }
  }

  &__description {
    // padding: 0 3rem;
    // width: 75%;
    margin: auto 3rem;
  }


  &__text {
    
    font-size: $font-size-medium;
    margin: auto;
    font-family: $secondary-font, sans-serif;
    font-weight: $font-weight-small;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .about {
    
    &__box {
      // top: 60%;
      
      flex-direction: column;
      width: 90%;
    }

    &__image {
      border-radius: 50%;
      max-width: 40rem;
      margin: 0 auto;

      &--photo {
        border-radius: 50%;
        // box-shadow: 0 -2rem 5rem rgba(0, 0, 0, 0.5);
      }
  
    }

    &__description {
      margin: 0;
    }

    &__text {
      width: 70rem;
      font-size: $default-font-size;
      margin: auto;
      padding: 2rem 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .about {

    &__box {
      flex-direction: column;
      width: 90%;
    }

    &__image {
      border-radius: 50%;
      max-width: 20rem;
      margin: 0 auto;

      &--photo {
        border-radius: 50%;
        // box-shadow: 0 -2rem 5rem rgba(0, 0, 0, 0.5);
      }
  
    }

    

    &__text {
      width: 90%;
      font-size: $default-font-size;
      margin: auto;
      padding: 2rem 0;
    }
  }
}