.about {

  &__box {
    position: absolute;
    display: flex;
    flex-direction: row;
    // padding: 10rem 0 0 20rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5rem;

  }

  &__image {
    display: flex;
    flex-direction: column;
    color: white;
    width: $profile-image-width;
    width: 40rem;



    &--photo {
      border-radius: 5rem;
      box-shadow: 0 -2rem 5rem rgba(0, 0, 0, 0.5);

    }

    &--name {
      font-size: $font-size-big;
    }
  }


  &__text {
    width: 70rem;
    font-size: $font-size-big;
    margin: auto;
    padding: 0 2rem;
    font-family: $secondary-font, sans-serif;
    font-weight: $font-weight-small;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .about {

    &__box {
      // position: absolute;
      // display: flex;
      // flex-direction: column;
      // padding: 10rem 0 0 20rem;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      border-radius: 5rem;

    }
  }
}