.project-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    font-family: consolas;
    align-items: center;

}

.card {
    position: relative;
    cursor: pointer;
    margin: -6rem 3rem;

    &__face {
        width: 70rem;
        height: 38rem;
        transition: 0.5s;
    }

    &__top {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(19rem);
        height: 38rem;

        &--content {
            opacity: 0.5;
            transition: 0.5s;

            img {
                width: 100%;
                height: 100%;
            }

            h3 {
                margin: 1rem 0 0;
                padding: 0;
                color: #fff;
                text-align: center;
                font-size: $font-size-middle;
            }
        }
    }

    &:hover &__top {
        // background: #ff0057;
        background: #fff;
        transform: translateY(0);
    }

    &:hover &__top--content {
        opacity: 1;
    }

    &__bottom {
        position: relative;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        box-sizing: border-box;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
        transform: translateY(-19rem);

        &--content {

            h3 {
                margin: 1rem 0 1rem;
                padding: 0;
                text-align: center;
                font-size: $font-size-middle;
            }

            p {
                margin: 0 1rem;
                padding: 0;
                font-size: $font-size-middle;
                text-align: left;
            }

            a {
                margin: 1.5rem 1rem 0;
                display: inline-block;
                text-decoration: none;
                font-weight: 900;
                color: #333;
                padding: .5rem;
                border: 1px solid #333;
                font-size: $font-size-middle;

                &:hover {
                    background: #333;
                    color: #fff;
                }
            }
        }
    }

    &:hover &__bottom {
        transform: translateY(0);
    }

}

// @media screen and (max-width: 500px) {
//     .card {
//         // position: relative;
//         // cursor: pointer;
//         // margin: -6rem 3rem;
    
//         &__face {
//             width: 35rem;
//             height: 18rem;
//             // transition: 0.5s;
//         }
    
//         &__top {
//             // position: relative;
//             // background: #333;
//             // display: flex;
//             // justify-content: center;
//             // align-items: center;
//             // z-index: 1;
//             transform: translateY(9rem);
//             height: 18rem;
    
//             &--content {
//                 opacity: 0.5;
//                 transition: 0.5s;
    
//                 img {
//                     width: 100%;
//                     height: 100%;
//                 }
    
//                 h3 {
//                     margin: 1rem 0 0;
//                     padding: 0;
//                     color: #fff;
//                     text-align: center;
//                     font-size: $default-font-size;
//                 }
//             }
//         }
    
//         &:hover &__top {
//             // background: #ff0057;
//             background: #fff;
//             transform: translateY(0);
//         }
    
//         &:hover &__top--content {
//             opacity: 1;
//         }
    
//         &__bottom {
//             position: relative;
//             background: #fff;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 2rem;
//             box-sizing: border-box;
//             box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
//             transform: translateY(-9rem);
    
//             &--content {
    
//                 h3 {
//                     margin: 1rem 0 1rem;
//                     padding: 0;
//                     text-align: center;
//                     font-size: $default-font-size;
//                 }
    
//                 p {
//                     margin: 0 1rem;
//                     padding: 0;
//                     font-size: $default-font-size;
//                     text-align: left;
//                 }
    
//                 a {
//                     margin: 1.5rem 1rem 0;
//                     display: inline-block;
//                     text-decoration: none;
//                     font-weight: 900;
//                     color: #333;
//                     padding: .5rem;
//                     border: 1px solid #333;
//                     font-size: $default-font-size;
    
//                     &:hover {
//                         background: #333;
//                         color: #fff;
//                     }
//                 }
//             }
//         }
    
//         &:hover &__bottom {
//             transform: translateY(0);
//         }
//     }
// }