.skills {
  &__container {
    width: 100%;
    background-color: $color-grey-light-2;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10rem;
    margin: 0 3%;

    &-items {
      display: flex;
      flex-direction: column;
      padding: 7rem;
    }

    &-name {
      font-size: $default-font-size;
    }

    & svg {
      width: 8rem;
      height: 8rem;
    }

  }
}




@media screen and (max-width: 800px) {
  .skills {
    &__list {
      margin: 0;
      &-items {
        padding: 5rem;
      }

      & svg {
        width: 6rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .skills {
    &__list {
      &-items {
        padding: 3rem;
      }

      &-name {
        font-size: $font-size-extrasmall;
      }

      & svg {
        width: 4rem;
      }
    }
  }
}