.skill-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    width: 45rem;
    min-height: 40rem;
    border-radius: 0.6rem;
    margin: 2rem;
    background-color: $color-grey-light-2;
  }

  &__details {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .skill-list {
    &__item {
      border-radius: 6px;
      width: 35rem;
      min-height: 20rem;
      margin: .5rem 1rem;
    }
  
    &__details {
      padding-top: 1rem;
      padding-left: 2rem;
      text-align: left;
    }
  }
}