.skill-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;

  &__item {
    width: 20rem;
  }

  &__details {
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .skill-list {
    // flex-direction: column;

    &__item {
      width: 10rem;
    }
  
    &__details {
      padding-top: 1rem;
      padding-left: 2rem;
      text-align: left;
    }
  }
}